<div class="center">
<div class="difficult">ステージ3</div>
<canvas id="can3" width="480px" height="320px" > </canvas>
</div>
<div id="disp">
<%= link_to "次のステージへ", difficult3_runaways_path %>
</div>
<%= javascript_include_tag 'difficult3.js' %>