<div class="center">
<div class="difficult">ステージ1</div>
<canvas id="myCanvas" width="480px" height="320px" > </canvas>
</div>
<div id="disp">
<%= link_to "次のステージへ", difficult2_runaways_path%>
</div>

<%= javascript_include_tag 'index.js' %>