<% @users.each do |user|%>
  <div class="user">
    <% if current_user.following?(user.id) %>
      <%= link_to user.email, user_path(user.id) %>
    <% else %>
      <%= %>
    <% end %>
  </div>
<% end %>


<%= link_to "signout", destroy_user_session_path, method: :delete %>

